RewriteEngine On
RewriteBase /webshop/admin
RewriteRule ^(.*)/(.*)/jquery.js$ ../jquery.js
RewriteRule ^(.*)/(.*)/ajax/(.*)$ ../ajax/$3
RewriteRule ^(.*)/(.*)/$ index.php?controller=$1Controller&action=$2 [QSA]
