html {
	font-family: Arial,sans-serif;
}

section {
	background: rgba(0,0,0, 0.2);
}

header {
	background-color: rgba(0,0,0,0.7);
	display: table;
	width: 100%;
	color: gold;
	border-radius: 1em 1em 0 0;
}

footer {
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	clear: both;
	color: gold;
	border-radius: 0 0 1em 1em;
}

article {
	padding: 30px;
	text-align: center;
}

table {
	margin: auto;
}

span.notvisible {
	display: none;
}

input[type="submit"] {
	color: white;
	background-color: black;
	border: none;
	outline: 0;
	cursor: pointer;
	padding: 10px;
}

input[type="submit"]:hover {
	opacity: 0.7;
}

.header-row {
	display: table-row;
}

.header-cell {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#nojs {
	top: 0;
	width: 100%;
	position: fixed;
	color: black;
	background-color: red;
	text-align: center;
}

.header-cell-nojs {
	display: table-cell;
}

.flex-container {
	display: flex;
	justify-content: center;
  	align-items: flex-start;
	flex-wrap: wrap;
	align-content: space-evenly;
	margin: 20px;
}

.order-detail-container {
	display: flex;
	flex-wrap: wrap;
	margin: 20px;
	text-align: left;
	align-items: center;
}

.order-detail-child {
	flex: 1 0 45%;
	margin: 5px;
}

.thumb span { 
	position:absolute;
	visibility:hidden;
}

.thumb span img {
	height: 450px;
}

.thumb:hover, .thumb:hover span { 
	visibility:visible;
}

.card {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	width: 250px;
	max-height: 500px;
	background-color: white;
	margin: 20px;
	word-wrap: break-word;
}

.card img {
	max-height: 200px;
	max-width: 100%;
}

.card h1, .cardfull h1 {
	padding: 3px;
	/* Internet explorer - too big h1 */	
	font-size: 1.17em;
}

.card p, .cardfull p {
	padding: 3px;
}

.card p.desc {
	overflow: hidden;
	max-height: 30px;
  	font-size: 0.8em;
}

.card p.price, .cardfull p.price  {
  	color: grey;
  	font-size: 1.3em;
}

.card p.priceoffer, .cardfull p.priceoffer {
  	color: red;
  	font-size: 1.3em;
}

.card input[type="submit"], .cardfull input[type="submit"], #cart input[type="submit"] {
  	border: none;
  	outline: 0;
  	padding: 12px;
  	color: white;
  	background-color: black;
  	text-align: center;
  	cursor: pointer;
  	width: 100%;
  	font-size: 1.1em;
}

.card input:hover, .cardfull input:hover,#cart input:hover {
  	opacity: 0.7;
}

#cart .order-detail-child .button {
  	background-color: transparent;
	color: black;
	text-decoration: none;
	border: none;
  	-webkit-transition-duration: 0.4s;
  	transition-duration: 0.4s;
	padding: 5px;
}

#cart .order-detail-child .button:hover {
	background-color: rgba(0,0,0,0.7);
  	color: white;
}

.cardfull .order-detail-child .flex-container {
	align-items: center;
	margin: 0px;
	justify-content: left;
}

.cardfull {
  	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  	width: 450px;
	background-color: white;
	margin: 20px;
	word-wrap: break-word;
}

.cardfull img {
	max-height: 400px;
	max-width: 100%;
}

.cardfull img:hover {
	cursor: pointer;
}

.cardfull p.desc {
  	font-size: 0.8em;
}

.order-detail-container img {
	height: 50px;
}

.link {
	display: block;
	text-transform: uppercase;
	padding: 9px 30px;
	text-decoration: none;
	color: black;
}

.link:hover {
	color: gold;
	background-color: rgba(0,0,0,0.7);
}

.menuentry {
	color: white;
	text-decoration: none;
	padding: 9px 30px;
	font-size: 1em;
	/*Chrome Bug*/
	text-transform: uppercase;
}

.menuentry:hover {
	color: gold;
}

.menuentry.menuselected {
	background-color: gold;
	color: black;
}

.cart-badge {
  	background-color: #F0AB13;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
}

.menuform {
	display: inline-block;
}

.nav {
	text-transform: uppercase;
	font-size: 1em;
}

.menuform select {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-size: 1em;
	text-transform: lowercase;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.menuform select option {
	background-color: rgba(0,0,0,0.7);
}

.menuform select option:selected {
	background-color: black;
}

/* Hack for IE */
.menuform select::-ms-expand {
	background-color: transparent;
	color: white;
	border: none;
}

.dropdown-button, .dropdown-button-mobile {
  	border: none;
	color: white;
  	outline: none;
  	background-color: transparent;
  	font-family: inherit; 
  	font-size: inherit;
  	margin: 0;
	/*Chrome Bug*/
	text-transform: uppercase;
}

.dropdown-content, .dropdown-content-mobile {
  	display: none;
  	position: absolute;
	text-align: left;
}

.dropdown:hover .dropdown-content, .dropdown-mobile:hover .dropdown-content-mobile {
  	display: inherit;
}

.dropdown:hover .dropdown-button, .dropdown-mobile:hover .dropdown-button-mobile {
	color: gold;
}

.dropdown-content a, .dropdown-content-mobile a {
  	color: white;
  	text-decoration: none;
  	display: block;
	background-color: rgba(0,0,0,0.7);
}

.dropdown-content a:hover, .dropdown-content-mobile a:hover {
	color: gold;
}

.dropdown, .dropdown-mobile {
  	overflow: hidden;
	display: initial;
}

.dropdown-mobile, #mobilenav {
	display: none;
}

.overlay {
	position: fixed;
	display: none;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.6);
	overflow-y: scroll;
	overflow-x: hidden;
}

.outercart {
	display: flex;
	align-items: center;
	flex-direction: column;
}

#overlayprod {
	overflow-y: hidden;
}

.overlay img {
	max-height: 100%;	
	max-width: 100%;	
}

#headercart {
	float: right;
	margin-right: 2em;
	display: table-cell;
}

#headertext {
	color: gold;
	font-size: 3em;
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#headerimage {
	display: table-cell;
	float: left;
}

#headerimage img {
	width: 150px;
}

#nav.stick {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	background-color: rgba(0,0,0,0.7);
	display: table;
}

#nav.stick img {
	width: 30px;
	margin-top: 0.5em;
}

#nav.stick span {
	margin-top: 0.3em;
}

#filter {
	border-radius: 0.2em;
	border: 0.1em solid white;
	font-size: 1.1em;
	background-image: url('img/search.png');
    	background-repeat: no-repeat;
    	background-position: right;
	background-size: 1em;
	min-width: 20em;
}

#filter:hover {
	border: 0.1em solid black;
}

#userexists {
	color: red;
}

/* Cart count does not align on chrome */
@supports (-webkit-appearance:none) {
	.cart-badge {
		top: 160px;
		right: 21px;
	}
	#nav.stick .cart-badge {
		top: 0px;
		right: 13px;
	}	
}

@media (max-device-width: 1079px)  {

	header, footer {
		background-color: black;
		display: block;
	}

	article {
		padding: 3px;
	}
	
	.dropdown-content-mobile.overlaymenu {
		display: flex;
		position: fixed;
		flex-direction: column;
		height: 100%;
		background-color: black;
		right: 8px;
		left: 8px;
	}

	.dropdown-content.overlaymenu {
		display: block;
		position: inherit;
	}

	.dropdown-mobile {
		display: flex;
		flex-direction: row;
		align-items: center;
	}

	.dropdown-mobile img {
		height: 30px;
		padding-left: 10px;
	}

	.header-row, #mobilenav {
		display: inherit;	
	}

	.menuform {
		padding-left: 10px;
	}

	.menuform select option {
		background-color: black;
	}

	#closemenu {
		display: none;
	}	

	#headerimage, #beforenav, #nav.stick,  .header-cell {
		display: none;
	}

	#filter {
		min-width: 12em;
	}
	
	#nav {
		display: inherit;
	}

	#nav img {
		width: 25px;
	}

	#headercart {
		margin-right: 1.5em;
	}

	#headertext {
		display: inherit;
		font-size: 2em;
		margin-top: 0.3em;
	}

	#cartcount {
		font-size: 0.6em;
		padding-left: 3px;
		padding-right: 3px;
	}

	/* Cart count does not align on chrome */
	@supports (-webkit-appearance:none) {
		.cart-badge {
			top: 48px;
			right: 20px;
		}
	}

}

