html {
	font-family: Arial,sans-serif;
}

section {
	background: rgba(0,0,0, 0.2);
}

header {
	background-color: rgba(0,0,0,0.7);
	display: table;
	width: 100%;
	color: gold;
	border-radius: 1em 1em 0 0;
}

footer {
	background-color: rgba(0,0,0,0.7);
	text-align: center;
	clear: both;
	color: gold;
	border-radius: 0 0 1em 1em;
}

article {
	padding: 9px 30px;
}

table {
	text-align: left;
}

.header-row {
	display: table-row;
}

.header-cell {
	text-align: center;
	vertical-align: middle;
	display: table-cell;
}

#nojs {
	top: 0;
	width: 100%;
	position: fixed;
	color: black;
	background-color: red;
	text-align: center;
}

.header-cell-nojs {
	display: table-cell;
}

.link {
	display: block;
	text-transform: uppercase;
	padding: 9px 30px;
	text-decoration: none;
	color: black;
}

.link:hover {
	color: gold;
	background-color: rgba(0,0,0,0.7);
}

.menuentry {
	color: white;
	text-decoration: none;
	padding: 9px 30px;
	font-size: 1em;
}

.menuentry:hover {
	color: gold;
}

.cart-badge {
  	background-color: #F0AB13;
	color: black;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	border-radius: 50%;
	position: absolute;
}

.menuform {
	display: inline-block;
}

.nav {
	text-transform: uppercase;
	font-size: 1em;
}

.nav select {
	background-color: transparent;
	border: none;
	outline: none;
	color: white;
	font-size: 1em;
	text-transform: lowercase;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
}

.nav select option {
	background-color: rgba(0,0,0,0.7);
}

.nav select option:selected {
	background-color: black;
}

.dropdown-button {
  	border: none;
	color: white;
  	outline: none;
  	background-color: inherit;
  	font-family: inherit; /* Important for vertical align on mobile phones */
  	font-size: inherit; /* Important for vertical align on mobile phones */
  	margin: 0; /* Important for vertical align on mobile phones */
}

.dropdown-content {
  	display: none;
  	position: absolute;
	text-align: left;
}

.dropdown:hover .dropdown-content {
  	display: inherit;
}

.dropdown:hover .dropdown-button {
	color: gold;
}

.dropdown-content a {
  	color: white;
  	text-decoration: none;
  	display: block;
	background-color: rgba(0,0,0,0.7);
}

.dropdown-content a:hover {
	color: gold;
}

.dropdown {
  	overflow: hidden;
}

#headercart {
	float: right;
	margin-right: 2em;
	display: table-cell;
}

#menuselected {
	background-color: gold;
	color: black;
}

#headertext {
	color: gold;
	font-size: 3em;
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle;
}

#headerimage {
	display: table-cell;
	float: left;
}

#headerimage img {
	width: 150px;
}

#nav.stick {
	width: 100%;
	position: fixed;
	top: 0;
	background-color: rgba(0,0,0,0.7);
	display: table;
}

#nav.stick img {
	width: 30px;
	margin-top: 0.5em;
}

#nav.stick span {
	margin-top: 0.3em;
}
